/**
* CSS reset.
*/
body, div, p, li, h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

input, button {
  outline: none;
}

/**
* CSS Project.
*/
body {
  font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  color: rgb(178, 186, 194);
  background-color: rgb(10, 25, 41);
  border: 2px solid green;
}

div {
  display: flex;
  flex-direction: column;
}

div#root {
  flex-direction: row;
  min-height: 100vh;
  overflow-x: hidden;
  border: 2px solid white;
}

input, button, p, li {
  font-size: 0.875rem;
}

/**
  * MUI 5.
*/
.MuiDialog-container {
  backdrop-filter: blur(2px);
}